<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <title>Galler</title>
</head>

<body>

    {% include 'header.html' %}

    <h1>Gallery</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi praesentium explicabo, quaerat, quis molestiae
        sapiente officia cumque necessitatibus modi iusto, alias ex repudiandae libero? Cumque aut voluptatum quod
        deleniti, sapiente ut doloremque sequi facilis nihil numquam autem ducimus reprehenderit incidunt saepe deserunt
        iure suscipit. Quos tempore blanditiis atque. Beatae enim laboriosam tempore perspiciatis voluptatum facilis,
        minus sequi consequatur. Blanditiis, nemo laborum! Sint adipisci aliquid aliquam quasi quia ullam amet,
        praesentium explicabo? Est, vitae quos? Nostrum velit illum nesciunt nobis nam temporibus dicta. Quibusdam quod
        debitis officia alias laboriosam earum voluptas obcaecati quidem pariatur similique minima, ipsam voluptatem!
        Nostrum, voluptatibus facilis.</p>


    {% include 'footer.html' %}
</body>

</html>