<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saylani Mass IT Training</title>
</head>

<body>

    <header>
        <h1>Header...</h1>
        <a href="{{ url_for('index') }}">HOME</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('gallery') }}">Gallery</a>
    </header>

    {%block body%}


    {%endblock%}
    <footer>
        <h1>Footer...</h1>
    </footer>
</body>

</html>